<!DOCTYPE HTML>
<!--
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>	Draft Builds</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/profile.css">
		<link rel="stylesheet" href="assets/css/build.css">
		<link rel="stylesheet" href="assets/css/build2.css">
		<link rel="stylesheet" href="assets/css/forums.css">
		<script src="https://kit.fontawesome.com/f9b37ef16f.js" crossorigin="anonymous"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="wholeHeader">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/indexAcc"> <img src="img/ab.png" alt=""> </a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
								
									<li><a href="/builds">Completed Builds</a> </li>
									<li><a href="/forums">Draft Builds</a></li>
									<li class="break"><a href="/profile">Profile</a></li>
									<li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>

								</ul>
							</nav>

					</div>

					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								<h2>Draft Builds</h2>
							</header>
							<p>View PC specs for  budget builds!</p>
						
						</section>

				</div>
			
				<div class="wrapper">
					<div class="container">
						<div id="profileFirstId" class="row">
							<section id="profileSection">
							
								<h1><%= typeof msg != 'undefined' ? msg : '' %></h1>
								<form action="/submissionPost" method="POST" enctype="multipart/form-data">
									<div class="text-input">
										<input name='caption' type="text" id="input1" placeholder="            Try typing something in here!">
										<label for="input1"><%=userName%></label>
									

									  </div>
									<input class='input' type="file" name="myFile">
									
									<input type="submit" value="Submit">
								</form>
							</section>
							<section id="profileFeed">
								<% for(var i=0; i<createdBuild.length; i++) {%>
								<section id="postSection">
									<div class= "postDiv">
										<p name="userName"> <%=createdBuild[i].userName%></p>
										<div class="images">
											<img src="/assets/css/<%=createdBuild[i].moboImg%>">
											<img src="/assets/css/<%=createdBuild[i].cpuImg%>">
											<img src="/assets/css/<%=createdBuild[i].gpuImg%>">
											<img src="/assets/css/<%=createdBuild[i].ramImg%>">
											<img src="/assets/css/<%=createdBuild[i].caseImg%>">
											<img src="/assets/css/<%=createdBuild[i].psuImg%>">
											<img src="/assets/css/<%=createdBuild[i].coolerImg%>">
											<img src="/assets/css/<%=createdBuild[i].storageImg%>">
											
										</div>
										<div>
										<span class="cost" >Total Cost:<%=createdBuild[i].total%></span>
										<span>Motherboard: <%=createdBuild[i].moboName%></span>
										<span>CPU: <%=createdBuild[i].cpuName%> </span>
										<span>GPU: <%=createdBuild[i].gpuName%></span>
										<span>RAM: <%=createdBuild[i].ramName%></span>
										<span>Storage: <%=createdBuild[i].storageName%></span>
										<span>Case: <%=createdBuild[i].caseName%></span>
										<span>PowerSupply: <%=createdBuild[i].psuName%></span>
										<span>Cooler: <%=createdBuild[i].coolerName%></span>
										</div>
										<a href="/post?id=<%=createdBuild[i]._id%>"></a>
										<i class="fas fa-heart" data='<%=createdBuild[i].likes%>'><span><%=createdBuild[i].likes%> </span></i>
									</div>
									<div class="postDiv">
										<div>
											
											<h2 name="caption"></h2>
											
											
										</div>
										<div>
											<button class="collapsible">Comments</button>
											<div id="commentSection" class="content">
											
											</div>
											<form action="\" method="POST">
												<label for="inp" class="inp">
													<input type="text" id="inp" name="comment" placeholder="&nbsp;">
													<span class="label">Comment</span>
													<span class="focus-bg"></span>
												  </label>
												<input type="submit">
											</form>
										</div>

									</div>
								</section>
								<% } %>
								

							</section>
							
					</div>
				</div>

			<!-- Promo -->
				<div id="promo-wrapper">
					<!-- <section id="promo">
						<h2>Neque semper magna et lorem ipsum adipiscing</h2>
						<a href="#" class="button">Breach the thresholds</a>
					</section> -->
				</div>

			

			<!-- Footer -->
			<div id="footer-wrapper">
				<div id="footer" class="container">
					<header class="major">
						<h2>Leave me a message! </h2>
						<p>Intrested to know more? I'd love to talk more about computers or how I built this website. </p>
					</header>
					<div class="row">
						<section class="col-6 col-12-narrower">
							<form method="post" action="#">
								<div class="row gtr-50">
									<div class="col-6 col-12-mobile">
										<input name="name" placeholder="Name" type="text" />
									</div>
									<div class="col-6 col-12-mobile">
										<input name="email" placeholder="Email" type="text" />
									</div>
									<div class="col-12">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
									<div class="col-12">
										<ul class="actions">
											<li><input type="submit" value="Send Message" /></li>
											<li><input type="reset" value="Clear form" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
						
					</div>
				</div>
				<div id="copyright" class="container">
					<ul class="menu">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
			<script src="forums.js"></script>
	
			
	</body>
</html>
