<!DOCTYPE HTML>
<!--
	Telephasic by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Telephasic by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/profile.css">
		<link rel="stylesheet" href="assets/css/build.css">
		<script src="https://kit.fontawesome.com/f9b37ef16f.js" crossorigin="anonymous"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="wholeHeader">
					<div id="header" class="container">

						<!-- Logo -->
							<h1 id="logo"><a href="/indexAcc"> <img src="img/ab.png" alt=""> </a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li>
										<a href="#">Dropdown</a>
										<ul>
											<li><a href="#">Lorem ipsum dolor</a></li>
											<li><a href="#">Magna phasellus</a></li>
											<li><a href="#">Etiam dolore nisl</a></li>
											<li>
												<a href="#">Phasellus consequat</a>
												<ul>
													<li><a href="#">Lorem ipsum dolor</a></li>
													<li><a href="#">Phasellus consequat</a></li>
													<li><a href="#">Magna phasellus</a></li>
													<li><a href="#">Etiam dolore nisl</a></li>
												</ul>
											</li>
											<li><a href="#">Veroeros feugiat</a></li>
										</ul>
									</li>
									<li><a href="/builds">Builds</a></li>
									<li class="break"><a href="/profile">Profile</a></li>
									<li><a href="/login"><i class="fas fa-sign-in-alt"></i></a></li>

								</ul>
							</nav>

					</div>

					<!-- Hero -->
						<section id="hero" class="container">
							<header>
								<h2>Builds</h2>
							</header>
							<p>You can post your builds here and see other people's builds.</p>
					
						</section>

				</div>
		
				<div class="wrapper">
					<div class="container">
						<div id="profileFirstId" class="row">
							<!-- <section id="profileSection">
							
								<h1><%= typeof msg != 'undefined' ? msg : '' %></h1>
								<form action="/submissionPost" method="POST" enctype="multipart/form-data">
									<div class="text-input">
										<input name='caption' type="text" id="input1" placeholder="            Try typing something in here!">
										<label for="input1"><%=userName%></label>
									  </div>
									<input type="file" name="myFile">
									
									<input type="submit" value="Submit">
								</form>
							</section> -->
							<section id="profileFeed">
								
								<section id="postSection">
									<div class= "postDiv">
										<p name="userName"> <%=buildPost[0].userName%></p>
										
										<a href="/post?id=<%=buildPost[0]._id%>"><img src="uploads/<%=buildPost[0].userIMG.filename%>" ></a>
										<i class="fas fa-heart" data='<%=buildPost[0].likes%>'><span> <%=buildPost[0].likes%></span></i>
										<!-- <i class="fas fa-heart"></i> -->
									</div>
									<div class="postDiv">
										<div>
											<h2 name="caption"><%=buildPost[0].caption %></h2>
										</div>
										<div>
											<i class="fas fa-comments collapsible"></i>
											<div id="commentSection" class="content">
                                                <% for(var i=0; i<comments.length; i++) {%>
                                                    
                                                        <p name="comments"><%= comments[i].commentName%>- <%= comments[i].comment%></p>
                                                <% } %>
											</div>
											<form action="/commentPost/<%=buildPost[0]._id%>" method="POST">
												<label for="inp" class="inp">
													<input type="text" id="inp" name="comment" placeholder="&nbsp;">
													<span class="label">Comment</span>
													<span class="focus-bg"></span>
												  </label>
												<input type="submit">
											</form>
											
										</div>

									</div>
								</section>
							
								

							</section>
							
					</div>
				</div>

			<!-- Promo -->
				<div id="promo-wrapper">
					<!-- <section id="promo">
						<h2>Neque semper magna et lorem ipsum adipiscing</h2>
						<a href="" class="button"></a>
					</section> -->
				</div>

			

			<!-- Footer -->
				<div id="footer-wrapper">
					<div id="footer" class="container">
						<header class="major">
							<h2>Leave me a message! </h2>
							<p>Intrested to know more? I'd love to talk more about computers or how I built this website. </p>
						</header>
						<div class="row">
							<section class="col-6 col-12-narrower">
								<form method="post" action="#">
									<div class="row gtr-50">
										<div class="col-6 col-12-mobile">
											<input name="name" placeholder="Name" type="text" />
										</div>
										<div class="col-6 col-12-mobile">
											<input name="email" placeholder="Email" type="text" />
										</div>
										<div class="col-12">
											<textarea name="message" placeholder="Message"></textarea>
										</div>
										<div class="col-12">
											<ul class="actions">
												<li><input type="submit" value="Send Message" /></li>
												<li><input type="reset" value="Clear form" /></li>
											</ul>
										</div>
									</div>
								</form>
							</section>
							
						</div>
					</div>
					<div id="copyright" class="container">
						<ul class="menu">
							<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script
			src="https://code.jquery.com/jquery-3.2.1.min.js"
			integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>  
			<script src="main.js"></script>
			<script src="build.js"></script>
			
	</body>
</html>